
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

/* PT Sans Narrow */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-narrow-bold.woff2") format("woff2");
  font-display: swap;
}


.visually-hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  padding: 0;
  margin: -1px;
  border: none;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

html {
  height: 100%;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color:black;
  background-color: white;
  outline-offset: -5px;
}

.navigation {
  display: flex;
  width: 1175px;
  height: 65px;
  justify-content: space-around;
}

.navigation-left {
  display: flex;
}

.navigation-right {
  display: flex;
  margin-left: 100px;
  align-items:center;
}

.navigation-list {
  display: flex;
  max-width: 470px;
  margin: 0;
  padding: 0;
  align-items: baseline;
  list-style: none;
}

.navigation-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}


.navigation-link {
  text-decoration: none;
  color: #000000;
  padding: 24px 16px;
  display: block;
}

.navigation-link:hover {
  color: #756157;
}

.count-badge {
  position: absolute;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #FFFFFF;
  padding: 3px 5px;
  letter-spacing: -0.1em;
  margin: -8px;
}

.button {
  width: 160px;
  height: 36px;
  background: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  margin: auto 0;
  margin-left: 20px;
  box-sizing: border-box;
}

.button:hover {
  background-color: #615048;
}


.main-line {
  width: 68px;
  height: 0px;
  border: 1px solid #756257;
  margin-left: 22px;
  margin-top: -8px;
}


.logo-sedona {
  display: block;
  margin: 0 auto;
}

.main-container {
  max-width: 1200px;

}

.main-index {
  color: black;
  background-color: white;
}

.page-container {
  width: 100%;
  margin: 0 auto;
  padding: 54px 0 25px 0;
  background-image: url("./images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.sedona-background {
  margin-top: 11px;
}

.description {
  margin: 0 auto;
}

.description-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 730px;
  margin: 0 auto;
  padding-top: 69px;
}

.description-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.town {
  display: flex;
  padding-top: 94px;
}

.text-town {
  width: 400px;
  background-color: #82B3D3;
}

.town-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 260px;
  margin: 0 auto;
  padding-top: 92px;
}

.town-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  width: 255px;
  margin: 0 auto;
  padding-top: 31px;
}

.town-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.town-line {
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  margin-top: 30px;
}


.advantages-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
  color: black;
}

.advantages-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 230px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 205px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  width: 252px;
}

.advantages-item {
  width: 400px;
  height: 384px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color:  rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

.line {
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

.advantages-title-tourists {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-top: 103px;
  width: 175px;
  margin: 0 auto;
}


.bridge {
  display: flex;
}

.bridge-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.bridge-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 200px;
  padding-top: 92px;
  margin: 0 auto;
}

.bridge-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  width: 230px;
  margin: 0 auto;
  padding-top: 30px;
}

.bridge-line {
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  align-items: center;
  margin-top: 30px;
  margin-left: 170px;
}


.text-bridge {
  width: 400px;
  background-color: #82B3D3;
}

.recommendations-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  color: black;
  list-style: none;
}

.recommendations-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.recommendations-item:nth-child(2) {
  background-color: #F2F2F2;
}

.recommendations-item {
  background-color: rgba(131, 179, 211, 0.12);
  padding-top: 80px;
  width: 400px;
}

.recommendations-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  width: 245px;
  margin: 0 auto;
  padding-bottom: 81px;
}

.search {
  margin: 0 auto;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
  padding-top: 96px;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  width: 645px;
  margin: 0 auto;
  margin-top: 25px;
}

.search-button {
  display: block;
  background-color: #756157;
  padding: 8px ;
  color: white;
  transition: all .35s;
  border-radius: 4px;
  font-size: 20px;
  width: 376px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  line-height: 36px;
  margin: 0 auto;
  margin-top: 54px;
  margin-bottom: 96px;
}

.search-button:hover {
  background-color: #615048;
}

.footer-social {
   display: flex;
   max-width: 1175px;
   justify-content: space-between;
   align-items: center;
}

.footer-social-list{
  display: flex;
  width: 140px;
  justify-content: space-around;
  list-style: none;
}

.telephone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.newsletter-description{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  width: 500px;
  margin: 0 auto 50px;
}

.button-newsletter-button{
  background: #82B3D3;
  padding: 0px 40px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0 solid #82B3D3;
  border-radius: 0px 4px 4px 0px;
}

.button-newsletter-button:hover {
  background-color: #68A2CA;
  cursor: pointer;

}

.field {
  width: 452px;
  height: 52px;
  border: 0;
  border-radius: 4px 0 0 4px;
  padding: 0 10px;
}

.newsletter-container {
  width: 1200px;
  margin: 0 auto;
  padding: 55px 0 109px 0;
  background-image: url("./images/nature.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  font-size: 0;
}


.telephone:hover {
  color: #756157;
}


.main-container {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.42);
}
