
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/pt-sans-italic.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
    font-display: swap;
  }

    /* PT Sans Narrow */
  @font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans-narrow-bold.woff2") format("woff2");
    font-display: swap;
  }


  .visually-hidden {
    width: 1px;
    height: 1px;
    position: absolute;
    padding: 0;
    margin: -1px;
    border: none;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }



  html {
    height: 100%;
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color:black;
    background-color: white;
    outline-offset: -5px;
  }

  .navigation {
    display: flex;
    width: 1175px;
    height: 65px;
    justify-content: space-around;
  }

  .navigation-left {
    display: flex;
  }

  .navigation-right {
    display: flex;
    margin-left: 100px;
    align-items:center;
  }

  .navigation-list {
    display: flex;
    max-width: 470px;
    margin: 0;
    padding: 0;
    align-items: baseline;
    list-style: none;
  }

  .navigation-item {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
  }


  .navigation-link {
    text-decoration: none;
    color: #000000;
    padding: 24px 16px;
    display: block;
  }

  .navigation-link:hover {
    color: #756157;
  }

  .count-badge {
    position: absolute;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    border-radius: 50%;
    background-color: #7DB54F;
    color: #FFFFFF;
    padding: 3px 5px;
    letter-spacing: -0.1em;
    margin: -8px;
  }

  .button {
    width: 160px;
    height: 36px;
    background: #756157;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    margin: auto 0;
    margin-left: 20px;
    box-sizing: border-box;
  }

  .button:hover {
    background-color: #615048;
  }


  .main-line {
    width: 105px;
    height: 0px;
    border: 1px solid #756257;
    margin-left: 17px;
    margin-top: -8px;
  }


  .inner-header {
    background-image: url("./images/nature.png");
    height: 412px;
  }


  .inner-container {
    width: 1200px;
  }


  .hotels {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }

  .hotels:hover {
     color: #524f4f;
  }


  .catalog-filter {
    display: flex;
    width: 1060px;
    justify-content: space-between;
  }

  .catalog-products {
    display: flex;
    justify-content: space-between;
    justify-content: space-evenly;
    width: 500px;
    margin: 0;
  }


  .catalog {
    display: flex;
    width: 1120px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .cost-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 25px;
  }

  .inner-header-title {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 20px;
    padding-left: 70px;
  }

  .checkbox {
    color: white;
  }

  .breadcrumbs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  }


  .breadcrumbs {
    display: flex;
    justify-content: space-between;
    width: 114px;
    margin: 0;
    padding-left: 70px;
    list-style: none;
    align-items: center;

  }

  .range {
    width: 287px;
    margin-top: 40px;
  }

  .range-scale {
    position: relative;
    height: 4px;
    margin-bottom: 16px;
    background-color: #524f4f;
    border-radius: 2px;
  }

  .range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff;
  }

  .range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 25%;
    cursor: pointer;
  }

  .range-toggle:hover {
    background-color: #ffffff;
  }

  .range-toggle:active,
  .range-toggle:focus {
    outline: 3px solid #ffffff;
  }

  .toggle-min {
    top: -8px;
    left: -1px;
  }

  .toggle-max {
    top: -8px;
    right: -10px;
  }

  .range-wrapper-inputs {
    display: flex;
    justify-content: center;
  }




  .catalog-filter {
    width: 220px;
    margin-right: 20px;
  }


  .catalog-filter-group {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    border: none;
  }

  .catalog-right-column {
    width: 700px;
  }



  .catalog-filter-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-left: 40px;
  }

  .catalog-filter-item {
    font-size: 18px;
    line-height: 39px;
    font-weight: 400;
    color: #FFFFFF;
    list-style: none;
  }




  .catalog-hotels {
    display: flex;
    width: 1060px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-top: 30px;

  }

  .catalog-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
  }



  .cost-texts {
    width: 288px;
    display: flex;
    justify-content: space-between;
  }

  .cost-left {
    width: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

  }

  .cost-left {
    background-color: #FFFFFF;
    width: 143px;
    height: 48px;
    border-radius: 4px 0 0 4px;

  }

  .cost1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }

  .cost {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
  }


  .cost-right {
    width: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
  }

  .cost-right {
    background-color: #FFFFFF;
    width: 143px;
    height: 48px;
    border-radius: 0 4px 4px 0;
  }

  .cost-buttons-apply {
    width: 190px;
    height: 36px;
    background: #82B3D3;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: #FFFFFF;
    text-transform: uppercase;
  }

  .cost-buttons-apply:hover {
    background-color: #68A2CA;
  }


  .cost-apply {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .cost-apply:hover {
     color: #333333;
  }

  .cost-buttons {
    display: flex;
    height: 100px;
    justify-content: space-between;
    margin-top: 50px;
    flex-direction: column;
  }


  .select-control {
    width: 290px;
    height: 47px;
    border: 1px solid #E6E6E6;
    font-size: 18px;
    color: #333333;

  }



  .card-grid-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
  }



  .card-grid-toggle:hover {
    background-color: #ffffff;
    border: 2px solid #000000;
  }

  .card-grid {
    display: flex;
    width: 160px;
    justify-content: space-between;
  }


  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    justify-content: center;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    gap: 20px;
    list-style: none;
  }

  .product-card {
    padding: 20px;
    height: 438px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
  }

  .product-card-link {
    text-decoration: none;
  }

  .product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
  }

  .product-card-hotel {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
  }

  .product-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
  }

  .product-card-button {
    width: 140px;
    height: 36px;
    background: #756157;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border:#FFFFFF;
  }

  .product-card-button:hover {
    background-color: #615048;
    cursor: pointer;
  }

  .product-card-button-favourites {
    width: 140px;
    height: 36px;
    background: #82B3D3;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border:#FFFFFF;
  }

  .product-card-button-favourites:hover {
    background-color: #68A2CA;
    cursor: pointer;
  }

  .product-card-button-favourit {
    width: 140px;
    height: 36px;
    background: #7DB54F;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border:#FFFFFF;
  }

  .product-card-button-favourit:hover {
    background-color: #6C9E42;
    cursor: pointer;
  }

  .product-card-rating-button {
    width: 140px;
    height: 36px;
    background: #F2F2F2;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color:  #333333;
    border:#FFFFFF;
  }

  .text {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .buttons {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 20px;
  }

  .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-top: 20px;
  }

  .product-card-hotel {
    margin: 0;
  }




  .pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: 70px;
  }



  .pagination-item:not(:last-child) {
    margin-right: 8px;
  }

  .pagination-link:hover {
    background-color: #68A2CA;
  }


  .pagination-link {
    background-color: #82B3D3;
    color: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    display: block;
    text-decoration: none;
    padding: 14px 23px;
    box-sizing: border-box;
    line-height: 36px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }

  .pagination-current {
    background-color: #F2F2F2;
    color: #242424;
  }

  .pagination-current:hover {
    background-color: #82B3D3;
    color: #F2F2F2;
  }

  .pagination-prev,
  .pagination-next {
    position: relative;
  }

  .pagination-link-pagination-next {
    background-color: #F2F2F2;
    color: #242424;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    display: block;
    text-decoration: none;
    padding: 14px 23px;
    box-sizing: border-box;
    line-height: 36px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }

  .line {
    width: 1060px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid #E6E6E6;
  }

  .newsletter-container {
    width: 1200px;
    margin: 0 auto;
    padding: 135px 0 109px 0;
    background-color: #FFFFFF;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .newsletter-form {
    display: flex;
    justify-content: center;
    font-size: 0;
  }

  .newsletter-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
  }

  .newsletter-description{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    width: 500px;
    margin: 0 auto 50px;
  }

  .button-newsletter-button{
    background: #82B3D3;
    padding: 0px 40px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0 solid #82B3D3;
    border-radius: 0px 4px 4px 0px;
  }

  .button-newsletter-button:hover {
    background-color: #68A2CA;
    cursor: pointer;

  }

  .field {
    width: 452px;
    height: 52px;
    border: 0;
    border-radius: 4px 0 0 4px;
    padding: 0 10px;
  }



  .footer-social {
    display: flex;
    max-width: 1175px;
    justify-content: space-between;
    align-items: center;
  }

  .footer-social-list{
   display: flex;
   width: 140px;
   justify-content: space-around;
   list-style: none;
  }

  .telephone {
   font-weight: 400;
   font-size: 40px;
   line-height: 40px;
   text-align: center;
   text-transform: uppercase;
   color: #000000;
   text-decoration: none;
  }

  .telephone:hover {
    color: #756157;
  }


  .main-container {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.42);
  }






  .control {
    position: relative;
    display: block;
    padding-left: 36px;
  }


  .control-mark {
    position: absolute;
    top: 8px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
  }

  .control:hover .control-mark {
    border-color: #FFFFFF;
  }


  .control-input[type="checkbox"]:checked + .control-mark::after {
    position: absolute;
    top: 3px;
    left: 2px;
    width: 12px;
    height: 10px;
    content: "";
    background-image: url(./images/check.svg);
  }

  .control-input[type="radio"] + .control-mark {
    border-radius: 50%;
  }

  .control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    background-color: #3F5E72;
    border-radius: 50%;
    content: "";
  }
